@font-face {
    font-family: 'ShinGo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/AOTFShinGoProRegular.woff') format('woff')
}

@font-face {
    font-family: 'ShinGo';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/AOTFShinGoProBold.woff') format('woff')
}

@font-face {
    font-family: 'ShinGo';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/AOTFShinGoProLight.woff') format('woff')
}